<html>
  {% load static %}
  <head>
    <meta charset="utf-8">
    <title>Kale Tuğla</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Vollkorn:700italic,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
  </head>
  <body><br>
    <header>
      <a href="/" class="logo">
        <em>Kale</em><strong>Tuğla</strong>
      </a>
      <nav>
        <ul>
          <li><a href="/hakkimizda">Hakkımızda</a></li>
          <li><a href="/urunler">Ürünlerimiz</a></li>
          <li><a href="/iletisim">İletişim</a></li>
        </ul>       
      </nav>
    </header>
    <section>
      <h1>Welcome to <em>Kale Tuğla</em></h1>
      <p>Bir Tuğladan daha fazlası...</p>
      
    </section>
  </body>
</html>
